node_modules
.DS_Store
dist
_temp/*
.env/.env.development.ini
.env/.env.test.ini
.env/.env.uat.ini
.env/.env.production.ini
_sourcemaps/*
src/cpp/build/node_gyp_bins
src/cpp/build/binding.Makefile
src/cpp/build/config.gypi
src/cpp/build/*.mk
src/cpp/build/gyp-mac-tool
src/cpp/build/Makefile
src/cpp/build/Release/.deps/*
src/cpp/build/Release/obj.target/*


